.face {
    width: 500px;
    height: 500px;
    border: 1px solid red;
}


.face-circle {
    fill: rgb(230, 230, 8);
    stroke: rgb(255, 255, 0);
    stroke-width: 2px;
}


@media (max-width: 600px) {
    .face {
        width: 300px;
        height: 300px;
    }
}